//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #f9fdfc !default;

// Dashkit scss needs to know where img masks are stored
$path-to-img: "../../img/dashkit" !default;
$path-to-fonts: "../../fonts" !default;

// Colors

$white: #ffffff !default;
$gray-100: #f9fdfc;
$gray-200: #f1f8f6;
$gray-300: #e5ebe9;
$gray-400: #979aaa;
$gray-500: #8c92ac;
$gray-600: #838996;
$gray-700: #777696;
$gray-800: #666699;
$gray-900: #1b4e3f;
$black: #232323;

$rainbow-1: #8c92ac;
$rainbow-2: #778899;
$rainbow-3: #79abd2;
$rainbow-4: #666699;
$rainbow-5: #777696;

$primary: #79abd2 !default;
$primary-dark: #778899 !default;
$success: #19be56 !default;
$secondary: $gray-700;
$danger: #b45be1;
$warning: #d83aeb !default;
$info: #c4c3d0 !default;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "black": $black,
  "gray": $gray-900,
) !default;

$card-border-color: $gray-300 !default;
$input-group-addon-color: $gray-900 !default;
$navbar-light-active-color: $primary-dark;
$link-color: $primary-dark;

// Global

$font-family-base: "Rubik";
.display-2 {
  font-family: Saira, Helvetica, sans-serif;
}

.text-rainbow {
  background: linear-gradient(0.3turn, #708090, #79abd2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-rainbow {
  background: linear-gradient(0.3turn, #708090, #79abd2);
}

.bg-rainbow-1 {
  background: #666699;
}
.bg-rainbow-2 {
  background: #778899;
}
.bg-rainbow-3 {
  background: #79abd2;
}
.bg-rainbow-4 {
  background: #666699;
}
.bg-rainbow-5 {
  background: #777696;
}

.text-rainbow-1 {
  color: #666699;
}
.text-rainbow-2 {
  color: #778899;
}
.text-rainbow-3 {
  color: #79abd2;
}
.text-rainbow-4 {
  color: #666699;
}
.text-rainbow-5 {
  color: #777696;
}
